<div *ngIf="isLoading">Loading...</div>

<table *ngIf="!isLoading" class="table">
  <thead class="thead-dark">
    <tr>
      <th>Select</th>
      <th>Assignee</th>
      <th>Completed</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketsWithUsers">
      <td>
        <button
          class="btn btn-secondary"
          (click)="selectTicket.emit(ticket.id)"
        >
          Select Ticket
        </button>
      </td>
      <td>{{ ticket.assigneeName }}</td>
      <td>{{ ticket.completed }}</td>
      <td>{{ ticket.description }}</td>
    </tr>
  </tbody>
</table>
